.homeDiv{
    padding-top: 180px;
    /* margin-top: 100px; */

    padding-bottom: 120px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    gap:30px;
}

.homeDivImg{
    box-shadow: rgba(16, 20, 223, 0.56) 0px 22px 70px 15px;
    height: 400px;
    width: 450px;
    border-radius: 50%;
    
}

.resumeBtn{
    height: 65px;
    width: 200px;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    background-color: transparent;
    border:1px solid blueviolet ;
    border-radius: 20px;
}

@media (min-width:460px) and (max-width:830px){
    .homeDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .homeDivImgMain{
        margin-top: 50px;
    }
    .homeDivImg{
        box-shadow: rgba(16, 20, 223, 0.56) 0px 22px 70px 15px;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        
    }
}
@media (min-width:0px) and (max-width:459px){
    .homeDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:20px;
    }
    .homeDivImgMain{
        margin-top: 50px;
    }
    .homeDivImg{
        box-shadow: rgba(16, 20, 223, 0.56) 0px 22px 70px 15px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        
    }
    .resumeBtn{
        height: 55px;
        width: 180px;
        font-size: 30px;
        font-weight: 700;
    }
}
