.projectMainDiv{
    /* border-top: 1px solid red; */
    /* padding-top: 30px; */
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:  1px solid red; */
    gap: 30px;
    padding-bottom: 100px;
}
h1{
    font-size: 50px;
}
.projectSecondDiv{
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
    align-items: center;
    /* border: 1px solid red; */
}
.projectDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    
}
.firstProject{
    /* padding: 20px; */
    height: 270px;
    width: 420px;
    /* border: 1px solid teal; */
    /* background-color: rgb(17, 20, 20);  */
    border-radius: 70px;
    box-shadow: rgba(75, 46, 240, 0.658) -5px 5px, rgba(146, 46, 240, 0.3) -10px 10px, rgba(226, 31, 155, 0.2) -15px 15px, rgba(26, 165, 245, 0.1) -20px 20px, rgba(169, 130, 240, 0.05) -25px 25px;
}
.firstProjectDis{
    padding: 20px;
    height: 270px;
    width: 420px;
    /* border: 1px solid teal; */
    background-color: rgb(17, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 70px ;
    /* box-shadow: rgba(75, 46, 240, 0.658) -5px 5px, rgba(146, 46, 240, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(46, 169, 240, 0.1) -20px 20px, rgba(124, 60, 243, 0.05) -25px 25px; */
}


.projectImg{
    height: 270px;
    width: 420px;
    border-radius: 70px;
}

.firstProjectDis>div>img{
    height: 35px;
    height: 35px;
    margin-left: 20px;
}

.firstProjectDis>div>p{
    font-size: 16px;
    padding: 0px 16px;
}

.firstProjectDis>div>button{
    height: 30px;
    width: 80px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 40px 20px 40px;
    background-color:transparent;  
    border:1px solid blueviolet;
    border-radius:20px;
    border-radius:20px;
    text-align: center;
    align-items: center;
}

.firstProjectDis:hover{
    background-color: rgb(168, 116, 216);
    color: black;
    
}
.firstProjectDis>div>button:hover{
    border:1px solid rgb(255, 255, 255);
}
h1{
    text-decoration: underline;
    /* margin-bottom: 50px; */
}
a{
    text-decoration: none;
    color: #fff;
}
.projectMinScrDiv{
    display: none;
}
@media (min-width:831px) and (max-width:1000px){
    .projectSecondDiv>div>img{
        display: none;
    }
}

@media (min-width:459px) and (max-width:830px){
    .projectSecondDiv{
        display: none;
        /* flex-direction: column; */
    }
    .projectMinScrDiv{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
@media (min-width:0px) and (max-width:459px){
    .projectSecondDiv{
        display: none;
        /* flex-direction: column; */
    }
    .projectMinScrDiv{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}