@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
}
:root {
  --blue: #2639e6;
  --blue-dark: #2532a3;
  --blue-text: #060e52;
  --dark-light: teal;
  --dark: rgb(0, 0, 0);
  --light: #ffffff;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--dark);
  color: var(--light);
}