.firstProjectDisplay{
    padding: 20px;
    height: 570px;
    width: 420px;
    /* border: 1px solid teal; */
    background-color: rgb(17, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 70px ;
    /* box-shadow: rgba(75, 46, 240, 0.658) -5px 5px, rgba(146, 46, 240, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(46, 169, 240, 0.1) -20px 20px, rgba(124, 60, 243, 0.05) -25px 25px; */
}
.firstProjectDisplay>div>img{
    height: 35px;
    height: 35px;
    margin-left: 20px;
}

.firstProjectDisplay>div>p{
    font-size: 16px;
    padding: 0px 16px;
}

.firstProjectDisplay>div>button{
    height: 30px;
    width: 80px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0px 40px 20px 40px;
    background-color:transparent;  
    border:1px solid blueviolet;
    border-radius:20px;
    border-radius:20px;
    text-align: center;
    align-items: center;
}

.firstProjectDisplay:hover{
    background-color: rgb(168, 116, 216);
    color: black;
    
}
.firstProjectDisplay>div>button:hover{
    border:1px solid rgb(255, 255, 255);
}
.projectImg1{
    height: 270px;
    width: 420px;
    padding: 0px 20px 0px 20px;
    border-radius: 70px;
}
